html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  background-color: #f1f1f1;
  min-height: 100%;
  padding-bottom: 5rem;
}
h1, h2, h3, h4  {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type{
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin:0;
}
.lista-citas .media-body button {
  margin-top: 1rem!important;
}
.lista-citas .media-body span {
  font-weight: bold;
}

.card{
  box-shadow: 0 0 1.25rem rgba(31,45,61,.05);
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff2f7;
  border-radius: .75rem;
  padding: 3rem;
  margin-top: 1rem;
}

.card:hover{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.125);
}

.bg-pink{
  background-color: #7c4dff;
  color: #fff;
}

label {
  color: #333;
}

input[type="text"]:focus, textarea:focus{
  background-color: #fff;
  border: 1px solid #7c4dff;
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #7c4dff;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.cita-card {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.cita-card p {
  font-weight: bold;
  margin-bottom: .4rem;
}
.cita-card p span {
  font-weight: normal;

}

.button.eliminar,
.button.eliminar:hover {
  background-color: red;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: red;
  color: #fff;
  padding: 1rem;
  border-radius: .75rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
} 

.button-enviar{
    color: #fff;
    background-color: #7c4dff;
    border-color: #7c4dff;
}

.button-enviar:hover{
  color: #fff;
  background-color: #3f1dcb;
  border-color: #3f1dcb;
}

.button-enviar:focus{
  color: #fff;
}